{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kikoo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <!-- ナビゲーションバーを作成 -->
        <header class='site-header'>
            <!-- bootstrapにあるナビゲーションバーのコードを流用 -->
            <nav class='navbar navbar-expand navbar-light bg-light'>
            <div class='conteiner'>
                <!-- ナビゲーションバーが縮んだときにハンバーガーメニューにするコード -->
                <div class='collapse navbar-collapse' id='navbarToggle'>
                    <a class='nav-item nav-link' href="#">Home</a>
                </div>
                <div class='navbar-nav'>
                    <a class='nav-item nav-link' href="#">Login</a>
                    <a class='nav-item nav-link' href="#">Register</a>
                </div>
            </div>
        </header>
        <main role='main' class='contanier-fluid'>
            <div class='row'>
                <div class='col-md-12'>
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </main>
    </body>
    <!-- Bootstrap for CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>